/* #container-table {
    overflow: scroll;
    height: 100px;
    width: 100%;
}
.container-table {
    display: block;
    height: 80%;
}

.custom-scroll {
    height: 80%;
    overflow: auto;
} */

.container-table {
    display: block;
    /* height: auto; */
}

.custom-scroll {
    height: 78%;
    overflow: auto;
}
/* 
table {
    position: absolute;
    width: 60%;
    height: 150px;
    overflow:scroll;

} */

/* tbody{
    height: 100px;
    overflow: auto;
} */


