<div class="row justify-content-center mt-4">
    <div class="col-8">
        <h2>Control de permisos</h2>
        <hr>
        <button class="btn btn-success" (click)="toNewPermiso()">Nuevo</button>
        <!-- <a class="btn btn-success" routerLink="/dashboard/empleado-add"><i class="bi bi-person-plus-fill"></i>Agregar</a> -->
        
    </div>

    <div class="col-10 mt-4">
        <table class="table caption-top">
            <caption class=" h3 text-center">Permisos concedidos</caption>
            <thead>
              <tr>
                <!-- <th scope="col">#</th> -->
                <th scope="col"># Doc. solicitante</th>
                <th scope="col">Nombre</th>
                <th scope="col">Estado</th>
                <th scope="col">Fecha</th>
                <th scope="col">Hora de salida</th>
                <th scope="col">Hora entrada</th>
                <th scope="col">Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let permiso of permisos; let i=index">
                <!-- <th scope="row">{{i+1}}</th> -->
                <td>{{permiso.cedula}}</td>
                <td>{{permiso.nombre1}} {{permiso.apellido1}}</td>
                <td>
                  <span 
                    class="badge" 
                    [ngClass]="{'text-bg-danger': permiso.estado === 'no aprobado', 
                                'text-bg-success': permiso.estado === 'aprobado'}"
                  >
                    {{permiso.estado}}
                  </span>
                </td>
                <td>{{permiso.fpermiso | date}}</td>
                <td>{{permiso.fsalida | date:'short'}}</td>
                <td>{{permiso.fentrada | date:'short'}}</td>
                <td>
                    <div (click)="toEdit(permiso.idPermiso)" class="btn btn-primary"><i class="bi bi-search"></i></div>&nbsp;
                    <!-- <div class="btn btn-primary"><i class="bi bi-pencil-square"></i></div>&nbsp; -->
                    <div (click)="deletePermiso(permiso.idPermiso)" class="btn btn-danger"><i class="bi bi-trash3-fill"></i></div>
                </td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="permisos.length === 0" class="text-center mt-4"><span class="h4 text-success">Usted aún no tiene permisos</span></div>
    </div>
</div>