<body id="print">
  <table
    style="
      padding: 0px;
      margin: 0px;
      justify-content: center;
      border-collapse: collapse;
      padding-top: 30px;
      text-align: center;
      width: 100%;
    "
  >
    <tr>
      <td
        rowspan="4"
        style="border: 1px solid black; padding: 0px; margin: 0px"
      >
        <img
          src="../../../../assets/img/logo-small.png"
          alt="Logo"
          height="200px"
          width="200px"
        />
      </td>
      <td
        class="col2"
        style="
          border: 1px solid black;
          width: 600px;
          height: 70px;
          padding: 0px;
          margin: 0px;
        "
      >
        <p style="font-weight: 800; padding: 0px; margin: 0px">
          FUNDACIÓN CLÍNICA DEL RÍO
        </p>
      </td>
      <td
        class="col3"
        style="
          border: 1px solid black;
          width: 200px;
          height: 45px;
          padding: 0px;
          margin: 0px;
        "
      >
        <p style="font-weight: 800; padding: 0px; margin: 0px">
          CÓDIGO: <br />
        </p>
        GTH-FO-09
      </td>
    </tr>
    <tr>
      <td
        class="col2"
        style="
          border: 1px solid black;
          width: 600px;
          height: 70px;
          padding: 0px;
          margin: 0px;
        "
      >
        <p style="font-weight: 800">SISTEMA DE GESTIÓN DOCUMENTAL</p>
      </td>
      <td
        class="col3"
        style="
          border: 1px solid black;
          width: 200px;
          height: 45px;
          padding: 0px;
          margin: 0px;
        "
      >
        <p style="font-weight: 800; padding: 0px; margin: 0px">
          VERSIÓN: <br />
        </p>
        02
      </td>
    </tr>
    <tr>
      <td
        rowspan="2"
        class="col2"
        style="
          border: 1px solid black;
          width: 600px;
          height: 70px;
          padding: 0px;
          margin: 0px;
        "
      >
        <p style="font-weight: 800">FORMATO DE SOLICITUD DE PERMISO</p>
      </td>
      <td
        class="col3"
        style="border: 1px solid black; width: 200px; height: 45px"
      >
        <p style="font-weight: 800">EMISIÓN: <br /></p>
        {{ dateHeader }}
      </td>
    </tr>
    <tr>
      <td
        class="col3"
        style="border: 1px solid black; width: 200px; height: 45px"
      >
        <p style="font-weight: 800">PÁGINA: <br /></p>
        1 de 1
      </td>
    </tr>
  </table>

  <div
    style="
      display: grid;
      grid-column: 5;
      width: 100%;
      grid-gap: 20px;
      justify-content: center;
      margin-top: 8%;
    "
  >
    <div style="grid-column: 3/5">
      <div class="row">
        <h4 style="text-align: center">FUNDACIÓN CLÍNICA DEL RÍO</h4>
        <h4 style="text-align: center">SISTEMA DE GESTIÓN DOCUMENTAL</h4>
      </div>

      <div class="row">
        <div class="row" style="margin-top: 8%">
          <ul style="list-style: none">
            <li>
              Fecha: {{ solicitud?.permiso?.fpermiso | date : "M/d/yyyy" }}
            </li>
            <li>
              Nombre del Funcionario:
              {{
                solicitud?.permiso?.nombre1 +
                  " " +
                  solicitud?.permiso?.nombre2 +
                  "
                            " +
                  solicitud?.permiso?.apellido1 +
                  " " +
                  solicitud?.permiso.apellido2 | titlecase
              }}
            </li>
            <li>Motivo: {{ solicitud?.permiso?.detalleMotivo }}</li>
          </ul>
        </div>

        <div
          class="row"
          style="display: grid; grid-template-columns: 2; margin-top: 6%"
        >
          <table style="border: #3e3c3cb2 1px solid">
            <tr style="text-align: center; border: #3e3c3cb2 1px solid">
              <th style="border: #3e3c3cb2 1px solid">
                Fecha y hora de salida
              </th>
              <th style="border: #3e3c3cb2 1px solid">
                Fecha y hora de entrada
              </th>
            </tr>
            <tr style="text-align: center; border: #3e3c3cb2 1px solid">
              <td style="border: #3e3c3cb2 1px solid">
                {{ solicitud?.permiso?.fsalida | date : "short" }}
              </td>
              <td style="border: #3e3c3cb2 1px solid">
                {{ solicitud?.permiso?.fentrada | date : "short" }}
              </td>
            </tr>
          </table>
        </div>

        <div
          style="
            margin-top: 8%;
            display: grid;
            grid-gap: 20px;
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: minmax(50px, auto);
            text-align: center;
          "
        >
          <div style="grid-column: 1; grid-row: 1">
            <canvas
              #signatureSolicita
              id="signature"
              id="my-canvas"
              class="canvasAdmin"
              ejs-signature
              [maxStrokeWidth]="1"
              [minStrokeWidth]="0.4"
              [velocity]="0.9"
            >
            </canvas>
            <h5>Firma del solicitante</h5>
          </div>
          <div style="grid-column: 2" *ngIf="nonAutorized">
            <canvas
              class="canvasAdmin"
              ejs-signature
              #signatureAutoriza
              id="signature"
              [maxStrokeWidth]="1"
              [minStrokeWidth]="0.4"
              [velocity]="0.9"
            >
            </canvas>
            <h5>Firma del jefe</h5>
          </div>
        </div>

      </div>
    </div>
  </div>
</body>
<button (click)="printer()" class="btn btn-primary">Print</button>
