<div class="row justify-content-center">
    <div class="col-8 mt-4">
        <h2>Editar motivo</h2>
        <hr>
        <form action="" [formGroup]="formEditMotivo" (ngSubmit)="guardarMotivo()" >
            <div class="row row-cols-2">
                <div class="form-floating mb-4">
                    <input type="number" class="form-control" id="floatingInput" autocomplete="off" formControlName="codMotivo" readonly>
                    <label for="floatingInput">Id motivo</label>
                </div>
                <div class="form-floating mb-4">
                    <input type="text" class="form-control" id="floatingInput" autocomplete="off" formControlName="detalleMotivo" >
                    <label for="floatingInput">Detalle</label>
                </div>              
                <div class="form-floating mb-4">
                    <textarea type="text" class="form-control" id="floatingInput" autocomplete="off" formControlName="descripcion" style="height: 150px;" ></textarea>
                    <label for="floatingInput">Descripcion</label>
                </div>

            </div>

            <div class="row justify-content-center">
                <div class="col-4">
                    <button type="submit" class="btn btn-success">Actualizar motivo</button>
                </div>
                
            </div>
            
            
        </form>
    </div>
</div>