<div class="row justify-content-center">
    <div class="col-8 mt-4">
        <h2>Mis datos</h2>
        <hr>
        <form action="" [formGroup]="formEmpleado" (ngSubmit)="guardarEmpleado()" >
            <div class="row row-cols-2">
                <div class="form-floating mb-4">
                    <input type="text" class="form-control" id="floatingInput" autocomplete="off" formControlName="nombre" >
                    <label for="floatingInput">Nombre</label>
                </div>
                
                <div class="form-floating mb-4">
                    <input type="number" class="form-control" id="floatingInput" autocomplete="off" formControlName="cedula" readonly >
                    <label for="floatingInput">No. de identificación</label>
                </div>
                <div class="form-floating mb-4">
                    <input type="email" class="form-control" id="floatingInput" autocomplete="off" formControlName="email" >
                    <label for="floatingInput">Email</label>
                </div>
                <div class="form-floating mb-4">
                    <input type="number" class="form-control" id="floatingInput" autocomplete="off" formControlName="telefono" >
                    <label for="floatingInput">Telefono</label>
                </div>
                <div class="form-floating mb-4">
                    <input type="text" class="form-control" id="floatingInput" autocomplete="off" formControlName="direccion" >
                    <label for="floatingInput">Direccion</label>
                </div>
                <div class="form-floating mb-4">
                    <select class="form-select" id="floatingSelect" autocomplete="off" formControlName="sexo" >
                        <option *ngFor="let genero of generos" [value]="genero">{{genero}}</option>
                    </select>
                    <label for="floatingSelect">Genero</label>
                </div>
                <div class="form-floating mb-4">
                    <input type="date" class="form-control" id="floatingInput" autocomplete="off" formControlName="fnacimiento" >
                    <label for="floatingInput">Fecha de nacimiento:</label>
                </div>

            </div>

            <div class="row justify-content-center mb-4">
                <div class="col-4">
                    <button type="submit" class="btn btn-success">Volver</button>
                </div>
            </div>
        </form>
    </div>
</div>