<div class="container-fluid">
    <div class="row">
        <div class="col-2 aside">
            <a class="list-group-item py-3 " routerLink="/dashboard/empleados"><i class="bi bi-people-fill"></i> Empleados</a>
            <a class="list-group-item py-3 " routerLink="/dashboard/admins"><i class="bi bi-clipboard-data-fill"></i> Administradores</a>
            <a class="list-group-item py-3 " routerLink="/dashboard/permisos"><i class="bi bi-clock-fill"></i> Permisos</a>
            <a class="list-group-item py-3 " routerLink="/dashboard/motivos"><i class="bi bi-stickies-fill"></i> Motivos</a>
            <a class="list-group-item py-3 " routerLink="/dashboard/motivos"><i class="bi bi-fingerprint"></i> Asistencias</a>
            
            
        </div>
        <div class="col-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>